{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.js"></script>

<style>
  #over:hover{
    background-color: rgba(110, 110, 110, 0.616);
  }

  .dropdown-item:hover{
    color: rgb(39, 210, 30);
  }

  #myTable tbody{
    cursor: pointer;
  }
  .tg{
    color: rgb(13, 215, 13);
  }
  .to{
    color: rgb(223, 146, 3);
  }
</style>


<div class="container-fluid">
    <div class="row" style="margin-top: 4rem;">
        <div class="position-relative">
            <div class="position-absolute" style="margin-top: -3rem;">
                <h2 class="fw-normal">All Payment Recieved</h2>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <input type="text" id="search" class="form-control bg-light text-dark" placeholder="Search.." autocomplete="off">        
        </div>
        <div class="col-sm-12 col-lg-8 d-flex justify-content-end">
            <a style="height: 100%;" class="btn text-center btn-outline-light" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" >
                <i class="fa fa-filter p-1"></i>
            </a>
            <div class="dropdown-menu m-1">
                <a class="dropdown-item" href="{% url 'view_sales_order_all' %}">All</a>
                <a class="dropdown-item" href="{% url 'view_sales_order_Draft' %}">Draft</a>
                <a class="dropdown-item" href="{% url 'view_sales_order_approved' %}">Approved</a>
            </div>
            <div class="dropdown">
                <a style="margin-inline-start: 6px;height: 100%;" class="btn text-center btn-outline-light" id="sortbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" >
                    <i  class="fas fa-sort p-1"></i>
                </a>
                <div class="dropdown-menu m-1">
                    <a class="dropdown-item" href="{% url 'view_sales_order_all' %}">All</a>
                    <a class="dropdown-item" onclick="sortTableName()">Customer Name</a>
                    <a class="dropdown-item" onclick="sortTableTotal()">Total</a>
                </div>
            </div>
            <a style="margin-inline-start: 6px;height: 100%;" href="" class="btn btn-outline-light">
                <i class="fa fa-file-excel-o p-1"></i><span class="fs-6">Import</span>
            </a>
            <a style="margin-inline-start: 6px;height: 100%;" href="" class="btn btn-outline-light">
                <i class="fa fa-file-excel-o p-1"></i><span class="fs-6">Export </span>
            </a>
            <a style="margin-inline-start: 6px;height: 100%;" class="btn btn-outline-light" role="button" href="{% url 'payment_recieved_create' %}">
                <i class="fa fa-plus p-1"></i><span class="fs-6">New</span>
            </a>
           
        </div>
    </div>
    <br>
    <div class="row container-fluid m-0 p-0">
          <table class="table  text-white" id="myTable">
            <thead>
              <tr>
                <th style="text-align: center;">DATE</th>
                <th style="text-align: center;">PAYMENT RECEIVED NUMBER</th>
                <th style="text-align: center;">CUSTOMER NAME</th>
                <th style="text-align: center;">CUSTOMER MAIL</th>
                <th style="text-align: center;">AMOUNT</th>
                <th style="text-align: center;">STATUS</th>
                <th style="text-align: center;">BALANCE</th>
              </tr>
            </thead>
            <tbody>
              {% for i in payment_list %}
                <tr id="over" class='clickable-row' data-href="sales_order_det/{{ i.id }}">
                  <td style="text-align: center;">{{ i.payment_recieved_date|date:'Y-m-d' }}</td>
                  <!-- <td style="text-align: center;" onclick="location.href ='' " > {{v.Name}}</td> -->
                  <td style="text-align: center;">{{ i.payment_recieved_number }}</td>
                  <td style="text-align: center;">{{ i.customer_name }}</td>
                  <td style="text-align: center;">{{ i.customer_mail }}</td>
                  <td style="text-align: center;">{{ i. }}</td>
                  <td style="text-align: center;" {% if i.status == 'save' %}class="tg"{% else %}class="to"{% endif %}>{{ i.status|capfirst }}</td>
                  <td style="text-align: center;">{{ i. }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    
</div>

<br><br>

<script>
  // Function to sort the table by the selected column
  function sortTableName() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[2];
        y = rows[i + 1].getElementsByTagName("td")[2];
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
      }
    }
  }

  function sortTableTotal() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[4];
        y = rows[i + 1].getElementsByTagName("td")[4];
        if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
      }
    }
  }
</script>

<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });
  });
</script>


<script>
  var $rows = $('table tbody tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    $rows.hide().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return ~text.indexOf(val);
    }).show();
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
</script>
{% endblock %}